* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 400px;
    height: 100vh;

    overflow: hidden;

    position: relative;

    background: #222;
}

.controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 24px;
    width: 100%;
    z-index: 1;
}

label {
    min-width: 100px;
    display: inline-block;

    color: black;
    background: #efefef;
}

.progress {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    column-gap: 5px;
    padding: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.stories__video {
    display: none;
}

.stories__video_visible {
    display: block;
}

.progress__bar {
    background-color: #000;
    border-radius: 10px;
    flex-grow: 1;
    height: 6px;
    overflow: hidden;
}

.progress__bar-value {
    background-color: darkgoldenrod;
    display: block;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .3s linear;
    width: 100%;
}
.controls__filters {
    align-self: center;
}
